body {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    color: currentColor;
    margin: 0 20px;
    color: var(--text);
    background: var(--bg);
    transition: background 300ms ease-in-out, color 600ms ease-in-out;
}

:root {
    --gray-0: #f2f2f2;
    --gray-1: #d9d9d9;
    --gray-2: #b7b7b7;
    --gray-3: #959595;
    --gray-4: #595959;
    --gray-5: #484848;
    --gray-6: #373737;
    --yellow1: #ff8c00;
    --yellow2: #fad672;
    --maxWidth: 800px;
}

.light {
    --bg: var(--gray-0);
    --bg-nav: var(--gray-0);
    --text: var(--gray-6);
    --border-color: var(--gray-6);
    --yellow: var(--yellow1);
}

.dark {
    --bg: var(--gray-6);
    --bg-nav: var(--gray-6);
    --text: var(--gray-1);
    --border-color: var(--gray-1);
    --yellow: var(--yellow2);

}

ul.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;
}

header {
    letter-spacing: 4px;
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 4px;
    margin-top: 64px;
    margin-bottom: 48px;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

p.description {
    line-height: 1.6;
}

.undecorated-link {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    transition: font-weight 300ms ease-in-out, color 600ms ease-in-out;
}

.undecorated-link:hover  {
    text-decoration: underline;
    cursor: pointer;
}
