body {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    color: currentColor;
    background-color: #fff;
    margin: 0;
    color: var(--text);
    background: var(--bg);
}

.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
    text-decoration: none;
    width: 90%;
    transition: background 300ms ease-in-out, color 600ms ease-in-out;
}

ul.navbar-items {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0;
    float: right;
    width: 200px;
    font-size: 26px !important;
}

.navbar-item, .dropdown-item {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    font-size: 20px;
}

.navbar-item {
    margin: 10px;
}

.navbar-item.text {
    margin: 30px;
}

.navbar-item a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.dropdown {
    position: absolute;
    width: 120px;
    height: 4rem;
    opacity: 0;
    z-index: 2;
    background: var(--bg-nav);
    margin-top: 1rem;
    justify-content: space-evenly;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    /* padding: 2px; */
    box-shadow: inset 0 0 0 2px var(--bg);
}

.selected a::before {
    background: var(--yellow);
}
